{% extends 'myapp/base.html' %}


{% block content %}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      


      <div class="contact">
        <h1 style="color: yellow; text: center">welcome to contact page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  <br>
            Adipisci optio et nobis nisi pariatur praesentium est ut,  <br>
            doloremque in labore tempore suscipit voluptatum  <br>
            numquam ex minima veniam voluptate laudantium similique.</p>
      </div>

{% endblock %}